@use "./styleguide" as *;

footer {

    background-color: $verylighpink;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   
        .form {
            text-align: center;
            width: 50%;
            
        }

}