// general styling
@use "./styleguide" as *;
html {
    color: $dark;
    font-size: 125%;
}

nav {
    font-size: medium;
}

ul {
    list-style: none;
    margin: 0;
}


body,
nav {
    font-family: $roboto;
    letter-spacing: 0.01rem;
    line-height: 1.45rem;
}

h1,
h2,
h3,
h4,
button {
    font-family: $dokdo;
    margin: 0;
}